.sectionC {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 64px 15vw;
}

.line {
  width: 20px;
  height: 2px;
  background-color: black;
  margin-right: 14px;
}

.textLeft {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  flex: 0.3;
}

.rightTextContainer {
  flex: 0.7;
}

.rightTextTitle {
  font-size: 36px;
  font-weight: 500;
}

.rightText {
  margin-top: 24px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.4px;
  opacity: 0.8;
}
