.sectionBC {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70vh;
  padding: 0 128px;
  margin: 68px 0;
  background-color: rgba(0, 0, 0, 0.02);
}

.sectionBC > img {
  width: 30%;
  max-width: 400px;
  min-width: 200px;
  padding: 4px;
}

.sectionBC :first-child {
  margin-top: -200px;
}

.sectionBC :last-child {
  margin-bottom: -200px;
}

/* Mobile View CSS */

@media (max-width: 450px) {
  .sectionBC > :first-child {
    margin-top: unset;
  }
  .sectionBC {
    flex-direction: column;
  }
  .sectionBC > img {
    min-height: 140px;
    height: 20%;
    width: unset;
    max-width: unset;
    min-width: unset;
  }
  .sectionBC > :last-child {
    margin-bottom: unset;
  }
  .sectionBC > :nth-child(2) {
    min-height: 180px;
  }
}

@media (max-width: 770px) and (min-width: 700px) {
  .sectionBC {
    flex-wrap: nowrap;
  }
}
