.sectionEContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
  padding: 100px 50px 0 50px;
}

.text {
  font-size: 24px;
  font-weight: 600;
  text-align: left;
  letter-spacing: 1px;
  line-height: 1.5;
  padding: 4px;
  margin: 4px;
}

.imageTextContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 8px;
  margin-top: 120px;
  margin-right: auto;
  width: 100%;
}

.imageTextContainer img:not(:last-child) {
  width: 50%;
  min-width: 300px;
  max-width: 600px;
}

.listCard {
  display: flex;
  max-width: 600px;
  margin-left: 24px;
  flex-wrap: wrap;
  padding: 16px;
  line-height: 1.6;
}

.btn {
  margin-right: auto;
}
