.btnContainerLight {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 180px;
  background-color: #fff;
  border-radius: 50px;
  font-size: 14px;
  margin: 16px 0;
  padding: 4px;
  color: #000;
  cursor: pointer;
}

.img {
  height: 12px;
  width: 12px;
  padding: 4px;
  margin-left: 12px;
}

.btnContainerDark {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 180px;
  background-color: rgba(0, 90, 270, 1);
  border-radius: 50px;
  font-size: 14px;
  margin: 16px 0;
  padding: 4px;
  color: #fff;
  cursor: pointer;
}
