.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 180px;
  border-radius: 50px;
  font-size: 14px;
  margin: 16px 0;
  padding: 4px;
  cursor: pointer;
}

.container[data-type="light"] {
  background-color: #fff;
  color: #000;
}

.container[data-type="dark"] {
  background-color: rgba(0, 90, 270, 1);
  color: white;
}

.img {
  height: 20px;
  width: 20px;
  padding: 4px;
  margin-left: 12px;
}

.container:hover {
  text-decoration: none;
  color: unset;
}
