.sectionCContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.textTitle {
  display: flex;
  flex-direction: column;
  font-size: 28px;
  font-weight: 500;
  margin-left: auto;
  padding: 4px;
}

.textTitle img {
  width: 100px;
  padding: 4px 4px 16px 0;
  margin: 4px 16px 4px 0;
}

.text {
  font-size: 20px;
  opacity: 0.6;
  margin-left: auto;
  padding: 4px;
}

.imageTextContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 100px 0 100px;
  flex-wrap: wrap;
  margin-top: 160px;
}

.image {
  width: 400px;
  min-width: 300px;
  padding: 20px;
  margin-right: auto;
  margin-left: auto;
}
