.sectionFContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 60px;
  margin-bottom: 128px;
  height: 100%;
}

.sectionFContainer > .imageTextContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 4px;
  padding: 4px;
}

.sectionFContainer > .imageTextContainer > .leftContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  margin: 4px;
}

.sectionFContainer > .imageTextContainer > .leftContainer > img {
  width: 30%;
}

.title {
  margin: 40px 0;
  font-size: 24px;
  font-weight: 600;
}

.contentText {
  max-width: 400px;
  text-align: center;
}

.sectionFContainer > .imageTextContainer > .centerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 4px;
}

.sectionFContainer > .imageTextContainer > .centerContainer > img {
  width: 40%;
}

.sectionFContainer > .imageTextContainer > .rightContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin: 4px;
}

.sectionFContainer > .imageTextContainer > .rightContainer > img {
  width: 30%;
}

.line {
  height: 2px;
  width: 200px;
  background-color: rgba(0, 0, 0, 0.1);
  margin-top: 64px;
  margin-bottom: 48px;
}

.endText {
  opacity: 0.7;
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 24px;
}

@media (max-width: 770px) {
  .sectionFContainer > .imageTextContainer {
    flex-wrap: wrap;
  }
  .title {
    font-size: 14px;
  }
  .contentText {
    font-size: 12px;
  }
  .sectionFContainer > .imageTextContainer > .centerContainer > img {
    margin-top: 40px;
    width: 30%;
  }
}
