.title {
  font-size: 48px;
  font-weight: 500;
  text-align: left;
  margin-top: 120px;
  line-height: 56px;
  align-items: center;
}

.projectPreviewContainer {
  align-items: center;
  margin-top: 80px;
  margin-bottom: 80px;
}

.projectPreviewContainer[aria-label="reverse"] {
  flex-direction: row-reverse;
}

.projectPreviewContainer .imageContainer .circle {
  height: 50vh;
  width: 50vh;
  border-radius: 50%;
  background: linear-gradient(45deg, #ff3232, #f7e6a7);
}

.projectPreviewContainer .descriptionContainer img {
  height: 68px;
}

.projectPreviewContainer .descriptionContainer .companyName {
  font-size: 30px;
  margin-top: 24px;
  display: flex;
  align-items: center;
}

.projectPreviewContainer .descriptionContainer .companyName .line {
  height: 3px;
  margin-left: 8px;
  width: 32px;
  background-color: #212121;
}

.projectPreviewContainer .descriptionContainer .description {
  font-size: 30px;
  opacity: 0.8;
  font-weight: 300;
  margin-top: 12px;
  line-height: 40px;
}
