.container {
  margin-bottom: 80px;
}

.title {
  font-size: 28px;
  font-weight: 600;
  padding: 16px;
  letter-spacing: 0.5px;
  text-align: center;
}

.text {
  font-size: 14px;
  opacity: 0.8;
  letter-spacing: 0.5;
  line-height: 1.6;
  text-align: center;
  padding: 16px;
}
