.container {
  display: flex;
  min-height: 85vh;
  background-image: radial-gradient(
    farthest-corner at 0% 0%,
    rgba(0, 0, 253, 0.7),
    rgb(103, 0, 255)
  );
  overflow: hidden;
}

.titleText {
  font-weight: 900;
  font-size: 64px;
  color: white;
  margin-top: 100px;
}

.sectionAText {
  font-size: 18px;
  font-weight: 300;
  margin-top: 24px;
  margin-bottom: 24px;
  color: white;
}
