.container {
  color: #fff;
  background-color: rgba(103, 0, 255, 0.7);
}

.container[aria-label="dark"] {
  background-color: #121212;
}

.logo {
  display: block;
  width: 80px;
}

.container[aria-label="dark"] a:hover {
  color: #da451a;
}

.quote {
  align-items: center;
  font-weight: 500;
}

.quote a {
  color: white;
}

.quote img {
  height: 16px;
  width: 16px;
  margin-left: 8px;
  opacity: 0.6;
}

.quote:hover img {
  opacity: 1;
}

.quoteButton {
  display: flex;
  align-items: center;
}

.aboutUs {
  padding: 4px 8px;
  margin-right: 40px;
  font-size: 14px;
  font-weight: 500;
  opacity: 0.8;
}

.aboutUs a {
  color: white;
}
