.container {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8px 0 8px 0;
  padding: 8px 32px;
  height: 40px;
  width: calc(100% - 64px);
  min-width: 400px;
  color: #fff;
  background-color: rgba(113, 146, 255);
}

.logo img {
  display: block;
  margin-right: 80px;
  padding: 4px 8px;
  width: 100px;
}

.logo a,
.work a,
.quote a,
.aboutUs a,
.services a,
.process a {
  text-decoration: none;
  color: unset;
}

.work a:hover,
.quote a:hover,
.aboutUs a:hover,
.process a:hover,
.services a:hover {
  text-decoration: underline;
  color: rgb(113, 146, 255);
  text-shadow: 1px 0.5px rgba(113, 146, 255, 0.2);
}

.work {
  margin-right: 20px;
  padding: 4px 8px;
  font-size: 14px;
  font-weight: 500;
  opacity: 0.9;
}

.process {
  margin-right: 20px;
  padding: 4px 8px;
  font-size: 14px;
  font-weight: 500;
  opacity: 0.8;
}

.services {
  margin-right: 20px;
  padding: 4px 8px;
  font-size: 14px;
  font-weight: 500;
  opacity: 0.8;
}

.quote {
  display: flex;
  margin-left: auto;
  padding: 4px 8px;
  margin-right: 40px;
  font-size: 14px;
  font-weight: 500;
  opacity: 0.8;
}

.aboutUs {
  padding: 4px 8px;
  margin-right: 40px;
  font-size: 14px;
  font-weight: 500;
  opacity: 0.8;
}

a.plusIcon {
  display: block;
  background-image: url("../../assets/white.svg");
  height: 12px;
  width: 12px;
  min-width: 12px;
  margin-left: 8px;
  margin-top: 4px;
}
