/* Default CSS */

.contactUs {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 70px;
}

.leftContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 40%;
  margin-right: 140px;
  margin-bottom: 140px;
  height: 90vh;
  justify-content: center;
  padding-left: 32px;
  padding-right: 32px;
  max-width: 500px;
  background-color: rgba(0, 0, 0, 0.1);
  text-align: left;
  border-radius: 0 0 32px 0;
}

.leftContainer > img {
  height: 68px;
  width: 68px;
  border-radius: 50%;
  margin-bottom: 64px;
  align-self: left;
}

.leftContainer > .clientReview {
  font-size: 18px;
  font-style: italic;
  line-height: 1.8;
  letter-spacing: 0.5px;
}

.leftContainer > .clientName {
  font-weight: 600;
  line-height: 2;
  margin-top: 52px;
}

.leftContainer > .clientName > .clientDesignation {
  font-size: 14px;
  opacity: 0.8;
  letter-spacing: 1;
}

.rightContainer {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-right: 10%;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

.headingRight {
  font-size: 40px;
  font-weight: 600;
  letter-spacing: -0.5px;
}

.subHeadingRight {
  margin-top: 32px;
  font-size: 18px;
  opacity: 0.6;
  line-height: 1.6;
}

.formContainer {
  display: flex;
  flex-direction: column;
  margin-top: 48px;
  margin-bottom: 48px;
  width: 100%;
}

.formContainer > .formSubContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: stretch;
}

.subContainerLeft {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  width: calc(50% - 16px);
}

.subContainerLeft > .nameInput {
  text-decoration: none;
  font-size: 22px;
  font-weight: 300;
  line-height: 56px;
  outline: none;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.subContainerLeft > .phoneNumberInput {
  font-size: 22px;
  font-weight: 300;
  line-height: 56px;
  margin-top: 32px;
  text-decoration: none;
  outline: none;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.subContainerRight {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-left: 32px;
  width: calc(50% - 16px);
}

.subContainerRight > .emailAddressInput {
  text-decoration: none;
  font-size: 22px;
  font-weight: 300;
  line-height: 56px;
  outline: none;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.subContainerRight > .budgetRangeInput {
  font-size: 22px;
  font-weight: 300;
  line-height: 56px;
  margin-top: 32px;
  text-decoration: none;
  outline: none;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.bottomContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.bottomContainer > .projectInput {
  text-decoration: none;
  font-size: 22px;
  font-weight: 300;
  line-height: 80px;
  margin-top: 24px;
  outline: none;
  width: 90%;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.submitContainer {
  margin-top: 48px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.checkBox {
  width: 20px;
  height: 20px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  appearance: none;
  border-radius: 2px;
  margin-right: 16px;
  outline: none;
  cursor: pointer;
}

.checkBox:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.checkBox:checked {
  background-color: rgba(0, 90, 270);
}

.checkBoxText {
  font-size: 16px;
  font-weight: 300;
  letter-spacing: -0.3px;
  opacity: 0.5;
}

.submitContainer > .button {
  margin-left: auto;
  padding: 20px 42px;
  background-color: rgba(0, 90, 270, 1);
  color: white;
  border-radius: 32px;
  font-size: 16px;
  cursor: pointer;
  border: none;
}

/* Mobile View CSS */

@media (max-width: 450px) {
  .contactUs {
    flex-wrap: wrap-reverse;
  }
  .contactUs > .rightContainer {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .contactUs > .rightContainer > .headingRight {
    font-size: 40px;
    padding: 4px;
  }
  .contactUs > .rightContainer > .subHeadingRight {
    font-size: 20px;
    padding: 8px;
  }
  .contactUs
    > .rightContainer
    > .formContainer
    > .formSubContainer
    > .subContainerLeft
    > .nameInput {
    font-size: 18px;
    padding: 0 8px;
  }
  .contactUs
    > .rightContainer
    > .formContainer
    > .formSubContainer
    > .subContainerLeft
    > .phoneNumberInput {
    font-size: 18px;
    padding: 0 8px;
  }
  .contactUs
    > .rightContainer
    > .formContainer
    > .formSubContainer
    > .subContainerRight
    > .emailAddressInput {
    font-size: 18px;
    padding: 0 8px;
  }
  .contactUs
    > .rightContainer
    > .formContainer
    > .formSubContainer
    > .subContainerRight
    > .budgetRangeInput {
    font-size: 18px;
    padding: 0 8px;
  }
  .contactUs > .leftContainer {
    width: 100%;
    align-items: center;
    margin: 0;
  }
  .contactUs {
    justify-content: center;
  }
  .contactUs
    > .rightContainer
    > .formContainer
    > .bottomContainer
    > .projectInput {
    font-size: 20px;
    padding: 0 0 0 8px;
  }
  .submitContainer > .button {
    margin-right: 8px;
  }
}
