.footerContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 50px;
  background-color: #13171f;
  color: #ffffff;
}

.logo {
  min-width: 100px;
  width: 20%;
  max-width: 200px;
  margin-right: 64px;
}

.openSource {
  display: flex;
  flex-direction: column;
  padding: 12px 8px;
  margin-left: auto;
  font-size: 18px;
}

.openSource > :first-child {
  font-weight: 600;
  margin-bottom: 24px;
}

.contentText {
  font-size: 14px;
  line-height: 2;
  font-weight: 300;
  letter-spacing: 0.9px;
  text-align: left;
}

.contentText > a {
  text-decoration: none;
  color: unset;
  opacity: 0.8;
}

.contentText > a:hover {
  opacity: 1;
}

.contentText :not(:last-child) {
  margin-bottom: 16px;
}

.social {
  margin-top: 20px;
  font-size: 18px;
}

.openSourceSocial {
  display: flex;
  flex-direction: column;
  padding: 12px 8px;
  margin-right: auto;
  margin-left: auto;
  font-size: 18px;
  font-weight: 600;
}

.socialText {
  margin-top: 8px;
  margin-bottom: 16px;
  font-size: 14px;
  font-weight: 300;
  text-align: left;
}

.socialText > * {
  margin-bottom: 12px;
}

.socialText > .instagram > a {
  text-decoration: none;
  color: unset;
  opacity: 0.7;
}

.socialText > .facebook > a {
  text-decoration: none;
  color: unset;
  opacity: 0.7;
}

.socialText > .medium > a {
  text-decoration: none;
  color: unset;
  opacity: 0.7;
}

.socialText > .instagram > a:hover {
  opacity: 1;
}

.socialText > .facebook > a:hover {
  opacity: 1;
}

.socialText > .medium > a:hover {
  opacity: 1;
}

.address {
  font-size: 16px;
  margin-top: 16px;
}

.address a {
  color: unset;
  font-weight: 300;
}

.address > :first-child {
  margin-bottom: 12px;
}

.address > :last-child {
  font-weight: 300;
}

.copyright {
  text-align: center;
  font-size: 12px;
  padding: 8px;
  margin-bottom: 16px;
  margin: auto;
  font-weight: 300;
  background-color: rgba(0, 0, 0, 0.7);
  color: rgba(255, 255, 255, 0.8);
}
