.sectionDContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 180px;
  margin-bottom: 140px;
}

.image img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

.image {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 1px;
  width: 80%;
  background-color: rgba(0, 0, 0, 0.05);
  margin: 0 0 48px 0;
}

.text {
  margin-top: 8px;
  margin-bottom: 32px;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  padding: 4px;
  letter-spacing: 1px;
}

.nameTitle {
  font-size: 16px;
}

.nameText {
  margin-top: 4px;
  font-size: 16px;
  opacity: 0.5;
  margin-bottom: 24px;
}
