.sectionD {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  padding: 0 15vw;
  margin: 56px 0;
}

.topContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

.line {
  width: 20px;
  height: 2px;
  background-color: black;
  margin-right: 14px;
}

.leftText {
  display: flex;
  flex-direction: row;
  font-size: 14px;
  font-weight: 600;
  align-items: center;
  flex: 0.3;
}

.rightText {
  font-size: 40px;
  letter-spacing: 0.4px;
  flex: 0.7;
}

/* Mobile View CSS */

@media (max-width: 450px) {
  .sectionD > .topContainer {
    flex-direction: column;
  }
  .sectionD > .topContainer > .leftText {
    font-size: 20px;
    margin-bottom: 24px;
  }
}