.sectionA {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  margin: 64px 15vw;
}

.title {
  font-size: 80px;
  font-weight: 900;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin-top: 128px;
}

.line {
  height: 2px;
  width: 20px;
  background-color: black;
  margin-right: 14px;
}

.leftText {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  flex: 0.3;
}

.rightText {
  flex: 0.7;
  font-weight: 300;
  line-height: 32px;
  font-size: 18px;
}

/* Mobile View CSS */

@media (max-width: 450px) {
  .sectionA > .title {
    font-size: 40px;
  }
  .sectionA > .content {
    flex-direction: column;
    margin-top: 80px;
  }
  .sectionA > .content > .leftText {
    font-size: 20px;
    margin-bottom: 24px;
  }
  .sectionA > .content > .rightText {
    text-align: left;
  }
}
