.sectionA {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  margin: 64px 15vw;
}

.title {
  font-size: 80px;
  font-weight: 900;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin-top: 128px;
}

.line {
  padding: 0.5px 0;
  width: 20px;
  background-color: black;
  margin-right: 14px;
  margin-bottom: 6px;
}

.leftText {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  font-size: 14px;
  font-weight: 600;
  flex: 0.3;
}

.rightText {
  flex: 0.7;
  font-weight: 300;
  line-height: 32px;
  font-size: 18px;
}
